src/hdfqlLib/bin/Debug/netstandard2.0/csharp_core.dll
src/hdfqlLib/bin/Debug/netstandard2.0/hdfqlLib.pdb
src/hdfqlLib/bin/Debug/netstandard2.0/csharp_core.pdb
src/hdfqlLib/bin/Debug/netstandard2.0/csharp_core.deps.json
src/hdfqlLib/bin/Debug/netstandard2.0/hdfqlLib.dll
src/hdfqlLib/bin/Debug/netstandard2.0/hdfqlLib.deps.json
src/hdfqlLib/obj/csharp_core.csproj.nuget.cache
src/hdfqlLib/obj/csharp_core.csproj.nuget.g.props
src/hdfqlLib/obj/csharp_core.csproj.nuget.g.targets
src/hdfqlLib/obj/hdfqlLib.csproj.nuget.cache
src/hdfqlLib/obj/hdfqlLib.csproj.nuget.g.props
src/hdfqlLib/obj/hdfqlLib.csproj.nuget.g.targets
src/hdfqlLib/obj/project.assets.json
src/hdfqlLib/obj/Debug/netstandard2.0/csharp_core.dll
src/hdfqlLib/obj/Debug/netstandard2.0/csharp_core.pdb
src/hdfqlLib/obj/Debug/netstandard2.0/csharp_core.AssemblyInfo.cs
src/hdfqlLib/obj/Debug/netstandard2.0/csharp_core.AssemblyInfoInputs.cache
src/hdfqlLib/obj/Debug/netstandard2.0/csharp_core.csproj.CoreCompileInputs.cache
src/hdfqlLib/obj/Debug/netstandard2.0/csharp_core.csproj.FileListAbsolute.txt
src/hdfqlLib/obj/Debug/netstandard2.0/hdfqlLib.csproj.CoreCompileInputs.cache
src/hdfqlLib/obj/Debug/netstandard2.0/hdfqlLib.dll
src/hdfqlLib/obj/Debug/netstandard2.0/hdfqlLib.pdb
src/hdfqlLib/obj/Debug/netstandard2.0/hdfqlLib.AssemblyInfo.cs
src/hdfqlLib/obj/Debug/netstandard2.0/hdfqlLib.AssemblyInfoInputs.cache
src/hdfqlLib/obj/Debug/netstandard2.0/hdfqlLib.csproj.FileListAbsolute.txt
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.AssemblyInfo.cs
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.AssemblyInfoInputs.cache
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.csproj.CopyComplete
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.csproj.CoreCompileInputs.cache
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.csproj.FileListAbsolute.txt
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.Program.cs
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/hdfqlLib.dll
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/hdfqlLib.pdb
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/test.hdfqlLib.dll
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/test.hdfqlLib.pdb
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/test.hdfqlLib.deps.json
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/test.hdfqlLib.runtimeconfig.json
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/test.hdfqlLib.runtimeconfig.dev.json
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netcoreapp10.dll
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/xunit.runner.utility.netcoreapp10.dll
test/test.hdfqlLib/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
test/test.hdfqlLib/obj/project.assets.json
test/test.hdfqlLib/obj/test.hdfqlLib.csproj.nuget.cache
test/test.hdfqlLib/obj/test.hdfqlLib.csproj.nuget.g.props
test/test.hdfqlLib/obj/test.hdfqlLib.csproj.nuget.g.targets
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.dll
test/test.hdfqlLib/obj/Debug/netcoreapp2.0/test.hdfqlLib.pdb
test/test.pythonDLLLoad/validateHDFqlDLL.py
test/test.pythonDLLLoad/.vscode/launch.json
